/* general*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

:root{
    --header-bg-color: #ff6900;
    --footer-bg-color: #1a1a1a;
    --color-white: #FFFFFF;
    --color-red: #ff0000;
    --color-green: #008000;
}

/* .debug{
    border: 2px solid black;
} */

header{
    background-color: var(--header-bg-color);
}

footer{
    background-color: var(--footer-bg-color);

}

nav, main {
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    font-size: 0.8em;
}

h3{
    font-size: 1em;
}

/* flex properties */

.flex{
    display: flex;
}

.f-row{
    flex-direction: row;
}

.f-wrap{
    flex-wrap: wrap;
}

.j-center{
    justify-content: center;
}

/* header */

.text-setup>li>a, .text-setup>i{
    text-decoration: none;
    padding: 20px 5px;
    color: var(--color-white);
    font-weight: bold;
}

ul{
    list-style: none;
}

#logo{
    width: 20%;
}

.fa-sm{
    color: var(--color-white);
}

.nav-f-content{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* main */
.main-layout{
    padding: 50px 0;
}

.card-layout{
    width: calc(100% / 3);
}

.p-relative{
    position: relative;
}

.img-setting{
    width: 100%;
    padding: 5px 10px 0 10px;  
}

.heart{
    background-color: var(--color-white);
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
}

.discount-percentage, .product-advantage, .product-advantage-only{
    padding: 5px 8px;
    font-size: 0.7em;
    font-weight: bold;
    position: absolute;
    bottom:40px;
}

.discount-percentage{
    background-color: var(--color-red);
    color: var(--color-white);
    left: 10px;
}

.product-advantage{
    background-color: var(--color-green);
    color: var(--color-white);
    left: 60px;
}

.product-advantage-only{
    background-color: var(--color-green);
    color: var(--color-white);
    left: 10px;
}

.product-description{
    padding: 0 10px 20px 10px;
}

.discounted-price, .original-price{
    font-size: 0.75em;
}

.discounted-price{
    color: var(--color-red);
    font-weight: bolder;
}

.original-price{
    text-decoration: line-through;
}



